<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestJungleSocksSite">
    <test name="ChromeTests">
        <classes>
            <parameter name="browser" value="chrome"/>
            <class name="tests.BrowserTests"/>
        </classes>
    </test>
    <test name="FirefoxTests">
        <classes>
            <parameter name="browser" value="firefox"/>
            <class name="tests.BrowserTests"/>
        </classes>
    </test>
    <test name="testValidateSalesTax">
        <classes>
            <class name="tests.StateTest"/>
        </classes>
    </test>
    <test name="testProduct">
        <classes>
            <class name="tests.ProductTests"/>
        </classes>
    </test>
</suite>